h4{
    color: black;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
}
p4{
    color: black;
    font-size:40px;
    font-family: sans-serif;
    text-align: center;
}
h6{
    color: blanchedalmond;
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
}
h9{
    color: blanchedalmond;
    font-size: 40px;
    font-family: sans-serif;
    text-align: left;
}