h12{
    color: black;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
   p10{
       color: black;
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size: 30px;
   }
   h13{
       color: blanchedalmond;
       font-size: 40px;
       font-family: Georgia, 'Times New Roman', Times, serif;
       text-align: justify;
   }